@model IEnumerable<Hammer.Models.Login>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.loginUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loginPassword)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.loginUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loginPassword)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.loginId }) |
            @Html.ActionLink("Details", "Details", new { id=item.loginId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.loginId })
        </td>
    </tr>
}

</table>
