@model IEnumerable<Hammer.Models.Department>

@{
    ViewBag.Title = "Departments";
}

<h2>Departments</h2>

<p>
    @Html.ActionLink("Add New Department", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.departmentName) Ovo su defaultne oznake MVC koje povlači iz modela. Dodao sam lable da ljepše izgleda*@
            <label for="departmentName" class="control-label">Department Name</label>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.departmentLocation) Ovo su defaultne oznake MVC koje povlači iz modela. Dodao sam lable da ljepše izgleda*@
            <label for="departmentLocation" class="control-label">Department Location</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.departmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.departmentLocation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.departmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.departmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.departmentId })
        </td>
    </tr>
}

</table>
