@model IEnumerable<Hammer.Models.Employee>

@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>

<p>
    @Html.ActionLink("Add New Employee", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find employee by name or surname: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Empoyee Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Salary", "Index", new { sortOrder = ViewBag.SalarySortParam })
        <th>
            @Html.ActionLink("Department Id", "Index", new { sortOrder = ViewBag.DepartmentIdSortParam })
        </th>
        <th>
            @Html.ActionLink("Last Modify Date", "Index", new { sortOrder = ViewBag.LMDSortParam })
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastModifyDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.employeeId }) |
                @Html.ActionLink("Details", "Details", new { id = item.employeeId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.employeeId })
            </td>
        </tr>
    }

</table>
